@charset "UTF-8";
@import url(my-reset.css);

body {
  background-color: #111;
  color: #fff;
}
/* ====================================  */
/* ===header===========================  */
/* ====================================  */
header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3)), url(../images/header-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 10px 8%;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
nav .logo {
  font-size: 32px;
  font-weight: 800;
}
nav .logo a {
  color: #db0001;
}
nav button {
  border: 0;
  background: #db0001;
  border-radius: 5px;
  color: #fff;
  padding: 10px 24px;
  margin-left: 10px;
  cursor: pointer;
  border: 1px solid #db0001;
}
.lang {
  display: inline-flex;
  align-items: center;
  border: 1px solid #fff;
  background: transparent;
  column-gap: 4px;
}
.header-content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  place-items: center;
}
.header-content h2 {
  font-size: 60px;
  line-height: 1.4;
  font-weight: 600;
  letter-spacing: -1px;
  max-width: 650px;
  margin-bottom: 20px;
  white-space: wrap;
}
.header-content h3 {
  font-weight: 400;
  margin-bottom: 40px;
}
.add-email {
  background-color: #fff;
  border-radius: 4px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.add-email input {
  border: 0;
  outline: 0;
  flex: 1;
  margin-left: 20px;
}
.add-email button {
  border: 0;
  background-color: #db0001;
  color: #fff;
  font-size: 16px;
  padding: 15px 30px;
  /* width:30px;
  height:50px; */
  cursor: pointer;
}

/* 레이아웃 */

section {
  padding: 40px 10%;
}

/* 배너 영역 */

.banner-content {
  border-radius: 6px;
  margin-bottom: 40px;
  padding: 40px;
  text-align: start;

  /* vendor prefix */
  /* 크롬, 사파리, 구형 안드로이드, ios, 엣지 */
  background: -webkit-linear-gradient(to right, #651c3d 0%, #280a3b 60%);
  /* 파이어폭스 */
  background: -moz-linear-gradient(to right, #651c3d 0%, #280a3b 60%);
  /* 오페라 */
  background: -o-linear-gradient(to right, #651c3d 0%, #280a3b 60%);
  /* 기본형은 맨 나중에 */
  background: linear-gradient(to right, #651c3d 0%, #280a3b 60%);
}

section button {
  background-color: rgba(128, 128, 128, 0.4);
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  border-radius: 5px;
  padding: 10px 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
}

section h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

section h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
  line-height: 1.5;
}

section p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.7);
}

.select menu {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 10px 24px;
  margin-top: 20px;
  font-size: 16px;
}

.select menu option {
  background: #2b2b2b;
  color: #fff;
}

.membership-content {
  border-radius: 6px;
  margin-bottom: 40px;
  padding: 40px;
  text-align: start;
  background: linear-gradient(to right, rgba(101, 28, 61, 0.9) 0%, rgba(40, 10, 43, 0.5) 60%), url(../images/membership-bg.png) no-repeat right center;
  background-size: auto, 40%;
}

.choice-content {
  gap: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.choice-content .card {
  font-size: 16px;
  text-align: center;
  height: 300px;
  padding: 40px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  background: linear-gradient(to bottom, rgba(25, 32, 68, 1) 0%, rgba(32, 19, 34, 1) 62%);
  position: relative; /* bean-img의 기준점 */
}

.choice-content .card .bean-img {
  position: absolute;
  width: 20%; /* 카드 크기에 따라 자동으로 줄어듦 */
  bottom: 20px; /* 카드 아래에서 20px */
  right: 10px; /* 카드 왼쪽에서 10px */
}

.choice-content .card img {
  width: 100%;
}

/* -------FAQ-------- */
.accordian {
  width: 100%;
  margin: 60px auto;
}

.accordian li {
  width: 100%;
  padding: 5px;
}

.accordian li label {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  font-weight: 300;
  background: #303030;
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
  user-select: none;
}

.accordian li label::after {
  content: "\2b";
  font-size: 40px;
  position: absolute;
  right: 20px;
  transition: 0.5s;
}

.accordian .content {
  background: #3b3b3b;
  font-size: 22px;
  line-height: 1.6;
  padding: 0 20px;
  max-height: 0;
  overflow: hidden;
}

.accordian input[type="radio"] {
  display: none;
}

.accordian input[type="radio"]:checked + label + .content {
  max-height: 600px;
  padding: 30px 20px;
}

.accordian input[type="radio"]:checked + label::after {
  transform: rotate(-135deg);
}

.newsletter {
  padding: 20px 10%;
}

/* footer 영역 */

footer {
  padding: 60px 10%;
}
.footer-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 총 4칸 그리드 */
  gap: 30px;
  justify-content: space-between;
  align-items: start;
}

.footer-content a {
  color: rgba(255, 255, 255, 0.7);
  font-size: 16px;
}
.footer-content p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  line-height: 0.6;
  margin-bottom: 20px;
}

.col h2 {
  font-size: 32px;
}

.col h2,
.col h3 {
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 20px;
}

.col h3 {
  font-size: 26px;
}

/* 카드1은 2칸 차지 */
.col.left {
  grid-column: span 2;
}

/* 카드2, 카드3은 각각 1칸 */
.center,
.right {
  grid-column: span 1;
  vertical-align: middle;
  text-align: center;
}

/* 카드4는 아래 줄 전체 4칸 차지 */
.copyright {
  grid-column: 1 / -1; /* 시작부터 끝까지 */
  text-align: center;
  margin-top: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.footer-nav {
  display: grid;
  grid-template-columns: repeat(4, auto);
  list-style: none;
  padding: 0;
  margin-bottom: 40px;
  align-items: center;
}

.footer-nav li {
  padding: 20px;
  border-right: 1px solid #ccc;
}

.footer-nav li:last-child {
  border-right: none;
}

.socials {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
