body {
  font-family: "Segoe UI", Arial, sans-serif;
  margin: 20px;
}

.tab-container {
  border: none;
  
}

.tab-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  border: 1px solid #aaa;
  background: #e6e6e6;
}

.tab-menu a {
  display: block;
  padding: 8px 20px;
  text-decoration: none;
  color: #333;
  border-right: 1px solid #aaa;
  margin: 0;
}

.active a {
  background: #fff;
  font-weight: bold;
  border-bottom: 2px solid #fff;
}

.app {
  padding: 15px;
  background: #fff;
}

