/* 외부 스타일 시트 작성하기 */
/* 외부 스타일 시트는 별도의 .css 파일에 작성된 CSS 코드를 HTML 문서에 적용하는 방법입니다. 이를 통해 스타일을 여러 HTML 문서에서 재사용할 수 있으며, 유지보수가 용이해집니다. */
/* 주의사항으로 오타가 날 수 있으니 바꾸고 싶은 선택자가 있다면 그 선택자를 복사 붙여넣기 하는 것이 좋습니다. */
h1 {
  color: blue;
  background-color: pink;
  padding: 10px;
}
/* 관계선택자 */
/* 자식 -바로 아래의 하위요소*/
body > h1 {
  color: orange;
}
/* body의 자식 h1태그의 글씨 색 변경 */
/* 위의 h1태그의 글씨색 변경은 우선순위에 밀리므로 덮어쓰여짐 */
h1 > span {
  background-color: yellow;
}
/* h1태그의 자식 span태그의 배경색 변경 */
p > span {
  color: white;
}
/* p태그의 자식인 모든 span 태그의 글씨색이 변경됨  */

/* 자손 */
body span {
  background-color: blue;
  font-size: 100px;
}
/* html문서에서 body 아래에 있는 모든 span태그로 묶여진 부분에 속성 적용 */

/* 형제 */
h1 ~ p {
  background-color: cyan;
}
/* h1 태그 뒤에 오는 모든 p 태그의 배경색 변경 */
h1 + p {
  background-color: gray;
}
/* h1 태그 바로 뒤에 오는 p태그만 배경색 변경 */

h1 + p + p > span {
  font-size: 10px;
}
/* h1 태그의 바로 뒤의 p 태그의 바로 뒤의 p 태그의 자식인 span 태그만 글자크기 변경 */
